/_private/
/work/
/.settings
/.gradle
/.project

/DisplayObjects/mobile/*
!/DisplayObjects/mobile/assets
/DisplayObjects/mobile/assets/css/animate.min.css

/oas2/
/oas3/

/build/
/feedback/
/knowledge/inbox/
